<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body>
    <th:block th:replace="fragments :: header"></th:block>

    <div class="container">
        <div class="card my-3 shadow">
            <div class="card-header text-center">
                <h5 class="card-title">kvvj_Формирование первичных документов</h5>
            </div>
            <div class="card-body">
                <form method="post" th:action="@{/kvvj_pd}">
                    <input type="hidden" name="id">
                    <div class="form-group row">
                        <div class="offset-1 col-2 btn-group dropright">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                kvvj_Документ
                            </button>
                            <div class="dropdown-menu">
                                <table name="documents" class="table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">kvvj_opd_k</th>
                                            <th scope="col">kvvj_opd_av1</th>
                                            <th scope="col">kvvj_opd_avt1</th>
                                            <th scope="col">kvvj_opd_av2</th>
                                            <th scope="col">kvvj_opd_avt2</th>
                                            <th scope="col">kvvj_opd_av3</th>
                                            <th scope="col">kvvj_opd_avt3</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="doc: ${defPrimDocs}">
                                            <td th:text="${doc.opdK}">empty</td>
                                            <td th:text="${doc.opdAv1}">empty</td>
                                            <td th:text="${doc.opdAvt1}">empty</td>
                                            <td th:text="${doc.opdAv2}">empty</td>
                                            <td th:text="${doc.opdAvt2}">empty</td>
                                            <td th:text="${doc.opdAv3}">empty</td>
                                            <td th:text="${doc.opdAvt3}">empty</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="offset-1 col-2">
                            <input id="pdDokk" name="pdDokk" type="text" class="form-control" required="required" readonly>
                        </div>
                        <div class="col-2">
                            <input id="pdDokn" name="pdDokn" type="text" class="form-control" required="required">
                        </div>
                        <div class="col-1 text-center">
                            от
                        </div>
                        <div class="col-3">
                            <input id="pdDokd" name="pdDokd" type="date" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-1 col-2 btn-group dropright">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                kvvj_Вид аналитики 1
                            </button>
                            <div class="dropdown-menu">
                                <table name="analytics1" class="table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">kvvj_kau_n</th>
                                            <th scope="col">kvvj_kau_k</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="code : ${codes}">
                                            <td th:text="${code.kauN}">empty</td>
                                            <td th:text="${code.kauK}">empty</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="offset-1 col-2">
                            <input id="pdAv1" name="pdAv1" type="text" class="form-control" required="required" readonly>
                        </div>
                        <div class="col-1">
                            <input id="pdAvt1" name="pdAvt1" type="text" class="form-control" required="required" readonly>
                        </div>
                        <div class="col-2">
                            <input id="pdAk1" name="pdAk1" type="text" class="form-control" required="required" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-1 col-2 btn-group dropright">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                kvvj_Вид аналитики 2
                            </button>
                            <div class="dropdown-menu">
                                <table name="analytics2" class="table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">kvvj_kau_n</th>
                                            <th scope="col">kvvj_kau_k</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="code : ${codes}">
                                            <td th:text="${code.kauN}">empty</td>
                                            <td th:text="${code.kauK}">empty</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="offset-1 col-2">
                            <input id="pdAv2" name="pdAv2" type="text" class="form-control" required="required" readonly onchange="analytics2()">
                        </div>
                        <div class="col-1">
                            <input id="pdAvt2" name="pdAvt2" type="text" class="form-control" required="required" readonly>
                        </div>
                        <div class="col-2">
                            <input id="pdAk2" name="pdAk2" type="text" class="form-control" required="required" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-1 col-2 btn-group dropright">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                kvvj_Вид аналитики 3
                            </button>
                            <div class="dropdown-menu">
                                <table name="analytics3" class="table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">kvvj_kau_n</th>
                                            <th scope="col">kvvj_kau_k</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="code : ${codes}">
                                            <td th:text="${code.kauN}">empty</td>
                                            <td th:text="${code.kauK}">empty</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="offset-1 col-2">
                            <input id="pdAv3" name="pdAv3" type="text" class="form-control" required="required" readonly onchange="analytics3()">
                        </div>
                        <div class="col-1">
                            <input id="pdAvt3" name="pdAvt3" type="text" class="form-control" required="required" readonly>
                        </div>
                        <div class="col-2">
                            <input id="pdAk3" name="pdAk3" type="text" class="form-control" required="required" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pdRub" class="offset-1 col-3 col-form-label">kvvj_Сумма</label>
                        <div class="col-4">
                            <input id="pdRub" name="pdRub" type="text" class="form-control">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <div class="offset-3 col-2 btn-group dropright">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                kvvj_Операция
                            </button>
                            <div class="dropdown-menu">
                                <table name="operations" class="table table-borderless table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">kvvj_txo_k</th>
                                            <th scope="col">kvvj_txo_db</th>
                                            <th scope="col">kvvj_txo_dbn</th>
                                            <th scope="col">kvvj_txo_kr</th>
                                            <th scope="col">kvvj_txo_krn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="operation: ${operations}">
                                            <td th:text="${operation.txoK}">empty</td>
                                            <td th:text="${operation.txoDb}">empty</td>
                                            <td th:text="${operation.txoDbn}">empty</td>
                                            <td th:text="${operation.txoKr}">empty</td>
                                            <td th:text="${operation.txoKrn}">empty</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-3">
                            <input id="pdTo" name="pdTo" type="text" class="form-control" required="required" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <input id="pdDb" name="pdDb" type="text" class="form-control" required="required" readonly>
                        </div>
                        <div class="col-3">
                            <input id="pdDbn" name="pdDbn" type="text" class="form-control" required="required" readonly>
                        </div>
                        <div class="col-2 text-center">
                            /
                        </div>
                        <div class="col-2">
                            <input id="pdKr" name="pdKr" type="text" class="form-control" required="required" readonly>
                        </div>
                        <div class="col-3">
                            <input id="pdKrn" name="pdKrn" type="text" class="form-control" required="required" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <button type="button" class="btn btn-outline-secondary btn-block" name="watch_rj" data-toggle="collapse" data-target="#collapseBook" aria-expanded="false" aria-controls="collapseBook">Просмотр РЖ</button>
                        </div>
                        <div class="offset-2 col-4">
                            <button type="button" class="btn btn-outline-success btn-block" name="send_rj" onclick="sendRj()">Занести проводку в РЖ</button>
                        </div>
                        <div class="offset-2 col-2">
                            <button type="button" class="btn btn-outline-danger btn-block" name="clean_rj" onclick="deleteRj()">Очистить РЖ</button>
                        </div>
                    </div>
                    <div class="collapse" id="collapseBook">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">kvvj_rj_0</th>
                                        <th scope="col">kvvj_rj_data</th>
                                        <th scope="col">kvvj_rj_dokk</th>
                                        <th scope="col">kvvj_rj_dokn</th>
                                        <th scope="col">kvvj_rj_dokd</th>
                                        <th scope="col">kvvj_rj_to</th>
                                        <th scope="col">kvvj_rj_db</th>
                                        <th scope="col">kvvj_rj_dbn</th>
                                        <th scope="col">kvvj_rj_kr</th>
                                        <th scope="col">kvvj_rj_krn</th>
                                        <th scope="col">kvvj_rj_rub</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="book : ${books}">
                                        <td th:text="${book.id}">empty</td>
                                        <td th:text="${book.rjData}">empty</td>
                                        <td th:text="${book.rjDokk}">empty</td>
                                        <td th:text="${book.rjDokn}">empty</td>
                                        <td th:text="${book.rjDokd}">empty</td>
                                        <td th:text="${book.rjTo}">empty</td>
                                        <td th:text="${book.rjDb}">empty</td>
                                        <td th:text="${book.rjDbn}">empty</td>
                                        <td th:text="${book.rjKr}">empty</td>
                                        <td th:text="${book.rjKrn}">empty</td>
                                        <td th:text="${book.rjRub}">empty</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <div class="col-2">
                            <button type="button" class="btn btn-outline-secondary" name="prev">
                                &lt;
                            </button>
                            <button type="button" class="btn btn-outline-secondary" name="next">
                                &gt;
                            </button>
                        </div>
                        <div class="offset-2 col-2">
                            <button type="submit" class="btn btn-outline-success btn-block" name="submit">Добавить</button>
                        </div>
                        <div class="offset-2 col-2">
                            <button type="submit" th:formaction="@{/kvvj_pd/update}" class="btn btn-outline-primary btn-block" name="update">Обновить</button>
                        </div>
                        <div class="col-2">
                            <button type="submit" th:formaction="@{/kvvj_pd/delete}" class="btn btn-outline-danger btn-block" name="delete">Удалить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card shadow">
            <div class="col-2 mt-4">
                <button class="btn btn-outline-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable">
                    Выбрать
                </button>
            </div>
            <div class="card-body">
                <div class="collapse" id="collapseTable">
                    <div class="table-responsive">
                        <table name="tables" class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">kvvj_pd_0</th>
                                    <th scope="col">kvvj_pd_dokk</th>
                                    <th scope="col">kvvj_pd_dokn</th>
                                    <th scope="col">kvvj_pd_dokd</th>
                                    <th scope="col">kvvj_pd_av1</th>
                                    <th scope="col">kvvj_pd_avt1</th>
                                    <th scope="col">kvvj_pd_ak1</th>
                                    <th scope="col">kvvj_pd_av2</th>
                                    <th scope="col">kvvj_pd_avt2</th>
                                    <th scope="col">kvvj_pd_ak2</th>
                                    <th scope="col">kvvj_pd_av3</th>
                                    <th scope="col">kvvj_pd_avt3</th>
                                    <th scope="col">kvvj_pd_ak3</th>
                                    <th scope="col">kvvj_pd_rub</th>
                                    <th scope="col">kvvj_pd_to</th>
                                    <th scope="col">kvvj_pd_db</th>
                                    <th scope="col">kvvj_pd_dbn</th>
                                    <th scope="col">kvvj_pd_kr</th>
                                    <th scope="col">kvvj_pd_krn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="table : ${tables}">
                                    <td th:text="${table.id}">empty</td>
                                    <td th:text="${table.pdDokk}">empty</td>
                                    <td th:text="${table.pdDokn}">empty</td>
                                    <td th:text="${table.pdDokd}">empty</td>
                                    <td th:text="${table.pdAv1}">empty</td>
                                    <td th:text="${table.pdAvt1}">empty</td>
                                    <td th:text="${table.pdAk1}">empty</td>
                                    <td th:text="${table.pdAv2}">empty</td>
                                    <td th:text="${table.pdAvt2}">empty</td>
                                    <td th:text="${table.pdAk2}">empty</td>
                                    <td th:text="${table.pdAv3}">empty</td>
                                    <td th:text="${table.pdAvt3}">empty</td>
                                    <td th:text="${table.pdAk3}">empty</td>
                                    <td th:text="${table.pdRub}">empty</td>
                                    <td th:text="${table.pdTo}">empty</td>
                                    <td th:text="${table.pdDb}">empty</td>
                                    <td th:text="${table.pdDbn}">empty</td>
                                    <td th:text="${table.pdKr}">empty</td>
                                    <td th:text="${table.pdKrn}">empty</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments :: bootstrap_scripts"></th:block>
    <script th:src="@{/js/kvvj_pd.js}"></script>
</body>
</html>