<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body>
<th:block th:replace="fragments :: header"></th:block>

    <div class="container">
        <div class="card my-5">
            <div class="card-header text-center">
                <h5 class="card-title">kvvj_Журнал-ордер</h5>
            </div>
            <div class="card-body">
<!--                <div class="form-group row">-->
<!--                    <label class="col-2 col-form-label text-right" for="nstS">По счёту</label>-->
<!--                    <div class="col-2">-->
<!--                        <input id="nstS" name="nstS" type="text" class="form-control" th:value="${nstS}" readonly>-->
<!--                    </div>-->
<!--                    <label class="col-2 col-form-label text-right" for="nstDatas">За интервал с</label>-->
<!--                    <div class="col-2">-->
<!--                        <input id="nstDatas" name="nstDatas" type="text" class="form-control" th:value="${nstDatas}" readonly>-->
<!--                    </div>-->
<!--                    <label class="col-1 col-form-label text-right" for="nstDatad">до</label>-->
<!--                    <div class="col-2">-->
<!--                        <input id="nstDatad" name="nstDatad" type="text" class="form-control" th:value="${nstDatad}" readonly>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right" for="nstS">По счёту</label>
                    <div class="col-1">
                        <input id="nstS" name="nstS" type="text" class="form-control my-reset" th:value="${nstS}" readonly>
                    </div>
                    <label class="col-2 col-form-label text-right" for="nstDatas">За интервал с</label>
                    <div class="col-3">
                        <input id="nstDatas" name="nstDatas" type="date" class="form-control my-reset" th:value="${nstDatas}" readonly>
                    </div>
                    <label class="col-1 col-form-label text-right" for="nstDatad">до</label>
                    <div class="col-3">
                        <input id="nstDatad" name="nstDatad" type="date" class="form-control my-reset" th:value="${nstDatad}" readonly>
                    </div>
                </div>
                <table name="tables" class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Счёт</th>
                            <th scope="col">Кор. счёт</th>
                            <th scope="col">Дебет</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="table : ${tables}">
                            <td th:text="${table[0]}">empty</td>
                            <td th:text="${table[1]}">empty</td>
                            <td th:text="${table[2]}">empty</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold" colspan="2">Итого по счёту</td>
                            <td class="font-weight-bold" th:text="${ksKrSum}">empty</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments :: bootstrap_scripts"></th:block>
</body>
</html>