<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body>
    <th:block th:replace="fragments :: header"></th:block>

    <div class="container">
        <div class="card my-3 shadow">
            <div class="card-header text-center">
                <h5 class="card-title">kvvj_Коды аналитического учёта</h5>
            </div>
            <div class="card-body">
                <form method="post" th:action="@{/kvvj_kau}">
                    <input type="hidden" name="id">
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="kauN">kvvj_Вид аналитики</label>
                        <div class="col-2">
                            <select id="kauN" name="kauN" required="required" class="custom-select">
                                <option th:each="type : ${types}" th:value="${type.vaK}" th:text="${type.vaK}">type</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="kauK" class="col-4 col-form-label">kvvj_Код аналитики</label>
                        <div class="col-6">
                            <input id="kauK" name="kauK" type="text" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <button type="button" class="btn btn-outline-secondary" name="prev">
                                &lt;
                            </button>
                            <button type="button" class="btn btn-outline-secondary" name="next">
                                &gt;
                            </button>
                        </div>
                        <div class="offset-2 col-2">
                            <button type="submit" class="btn btn-outline-success btn-block" name="submit">Добавить</button>
                        </div>
                        <div class="offset-2 col-2">
                            <button type="submit" th:formaction="@{/kvvj_kau/update}" class="btn btn-outline-primary btn-block" name="update">Обновить</button>
                        </div>
                        <div class="col-2">
                            <button type="submit" th:formaction="@{/kvvj_kau/delete}" class="btn btn-outline-danger btn-block" name="delete">Удалить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card shadow">
            <div class="col-2 mt-4">
                <button class="btn btn-outline-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable">
                    Выбрать
                </button>
            </div>
            <div class="card-body">
                <div class="collapse" id="collapseTable">
                    <div class="table-responsive">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">kvvj_kau_0</th>
                                    <th scope="col">kvvj_kau_k</th>
                                    <th scope="col">kvvj_kau_n</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="code : ${codes}">
                                    <td th:text="${code.id}">empty</td>
                                    <td th:text="${code.kauN}">empty</td>
                                    <td th:text="${code.kauK}">empty</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments :: bootstrap_scripts"></th:block>
    <script th:src="@{/js/kvvj_kau.js}"></script>
</body>
</html>