<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body>
    <th:block th:replace="fragments :: header"></th:block>

    <div class="container">
        <div class="card my-3 shadow">
            <div class="card-header text-center">
                <h5 class="card-title">kvvj_Книга счетов</h5>
            </div>
            <div class="card-body">
                <table name="tables" class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Дата опр.</th>
                            <th scope="col">Код</th>
                            <th scope="col">№</th>
                            <th scope="col">Дата док.</th>
                            <th scope="col">Операция</th>
                            <th scope="col">Счёт</th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Кор. счёт</th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Дебет</th>
                            <th scope="col">Кредит</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="table : ${tables}">
                            <td th:text="${table.ksData}">empty</td>
                            <td th:text="${table.ksDokk}">empty</td>
                            <td th:text="${table.ksDokn}">empty</td>
                            <td th:text="${table.ksDokd}">empty</td>
                            <td th:text="${table.ksTo}">empty</td>
                            <td th:text="${table.ksS}">empty</td>
                            <td th:text="${table.ksSn}">empty</td>
                            <td th:text="${table.ksKs}">empty</td>
                            <td th:text="${table.ksKsn}">empty</td>
                            <td th:text="${table.ksDb}">empty</td>
                            <td th:text="${table.ksKr}">empty</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments :: bootstrap_scripts"></th:block>
</body>
</html>